
  .loader-bar {
    width: 100px;
    height: 4vw;
    display: grid;
    grid-template-columns: repeat(3,6px) repeat(10, 9px 6px) repeat(2,6px);
    grid-template-rows: repeat(6,6px);
    color: white;
  }
  
  .block-border {
    background-color: rgb(255, 255, 255);
  }
  
  .block-meter {
    background-color: rgb(100,200,100);
  }
  
  .block-border:nth-of-type(1) {
    grid-row: 1;
    grid-column: 3/-3;
  }
  
  .block-border:nth-of-type(2) {
    grid-row: -2;
    grid-column: 3/-3;
  }
  
  .block-border:nth-of-type(3) {
    grid-row: 3/5;
    grid-column: 1;
  }
  
  .block-border:nth-of-type(4) {
    grid-row: 3/5;
    grid-column: -2;
  }
  
  .block-border:nth-of-type(5) {
    grid-row: 2;
    grid-column: 2;
  }
  
  .block-border:nth-of-type(6) {
    grid-row: 2;
    grid-column: -3;
  }
  
  .block-border:nth-of-type(7) {
    grid-row: 5;
    grid-column: 2;
  }
  
  .block-border:nth-of-type(8) {
    grid-row: 5;
    grid-column: -3;
  }
  
  .block-meter:nth-of-type(9) {
    grid-row: 3/5;
    grid-column: 4;
  }
  
  .block-meter:nth-of-type(10) {
    grid-row: 3/5;
    grid-column: 6;
  }
  
  .block-meter:nth-of-type(11) {
    grid-row: 3/5;
    grid-column: 8;
  }
  
  .block-meter:nth-of-type(12) {
    grid-row: 3/5;
    grid-column: 10;
  }
  
  .block-meter:nth-of-type(13) {
    grid-row: 3/5;
    grid-column: 12;

  }
  
  .block-meter:nth-of-type(14) {
    grid-row: 3/5;
    grid-column: 14;

  }
  
  .block-meter:nth-of-type(15) {
    grid-row: 3/5;
    grid-column: 16;

  }
  
  .block-meter:nth-of-type(16) {
    grid-row: 3/5;
    grid-column: 18;
  }

  .block-meter:nth-of-type(17) {
    grid-row: 3/5;
    grid-column: 20;
  }

  .block-meter:nth-of-type(18) {
    grid-row: 3/5;
    grid-column: 22;
  }




  .container25 {
    width: 180px;
    margin: auto;
  }
.progress {
    z-index: 2;
  }



  .progressbar-container {
    position: relative;
    width: 100%;
    height: 25px;
    border: 2px solid #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .progressbar-complete {
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    background-color: #e20d0d;
    border-radius: 10px;
    animation: g 2500ms infinite ease-in-out;
    z-index: 2;
  }

  .progressbar-liquid {
    z-index: 1;
    width: 70px;
    height: 70px;
    animation: g 2500ms infinite ease-in-out, r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
    position: absolute;
    right: -5px;
    top: -10px;
    background-color: #e20d0d;
    border-radius: 40%;
  }

  @keyframes g {
    0% { background-color: #e20d0d; }
    50% { background-color: #e25353; }
    100% { background-color: #e20d0d;; }
  }
  
  @keyframes r {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }