
.general{
    background-color: blueviolet;
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: space-around;
}
.general img {
    height: 100%;
}
.general img:hover{
    position: relative;
    top:5px;
}

.pokeStats{
    padding-left: 50px;
}
.pokeStats h3{
   margin: 3%;
}
.white-color{
    color: white;
}