

.SecionTienda{
    margin-left: 20px;
    .comingsoon{
        position: absolute !important;
        left: 2%;
        top: 80%;
        height: 40%;
    }
}

.SecionTienda>div{
    display: flex;
    flex-wrap: wrap;
}