

.SecionTienda{
    margin-left: 20px;
    .comingsoon{
        position: absolute !important;
        left: 2%;
        top: 70%;
        height: 60%;
        width: 40%;
        transform: rotate(10deg);
    }
}

.SecionTienda>div{
    display: flex;
    flex-wrap: wrap;
}